.navbar {
    
    .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    a {
        font-family: Arial, sans-serif;
        color: $lightblue !important;
        font-size: 1.6em !important;
        font-weight:bold;

    }

}